@page
@model RazorCourseDemo.Pages.Students.IndexModel

@{
    ViewData["Title"] = "Students";
    //var result = Model.KayitMumkun;
    var result2 =(bool)ViewData["KayitMumkun"];
}

<h1 class="text-decoration-underline">Students</h1>
@if (result2)
{
    <p>
        <a class="btn btn-outline-primary" asp-page="Create">Create New</a>
    </p>
}
else
{
    <hr />
    <p>Öğrenci eklenecek bir kurs bulunamadı</p>
    <hr />
}

<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Student) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
